
/* 기본적인 reset css */
/* 리셋이 필요한 이유는 브라우저에서 깨질수도 있어서 임.
크롬 브라우져 버전과 다른 브라우저가 달라 레이어가 깨질수 있음.
그래서 제로에서 시작하게 되어 변수가 없도록하기 위함.  */

/* 리셋은 다른 css보다 먼저 선언 되어야 한다. */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* a태그 리셋 */
a{
    /* a태그는 부모의 컬러를 따라가지 않으나 color를 inherit로 바꾸면 따라간다. */
    color: inherit;
    text-decoration: none;
}

.clearfix::after{
	content:'';
	display:block;
	clear:both;
}